.vesting-chart canvas {
  max-height: 250px;
}

.vesting-top-card h3 {
  font-weight: 500;
}
.white-80 {
  color: #d6d5d5cc;
}
.vesting-summary h4 {
  font-weight: 500;
}
.white-60 {
  color: #ffffff99;
}
.sm-p {
  font-size: 14px;
  line-height: 22px;
}
.vesting-progress .progress {
  height: 18px;
}
.vesting-progress-number {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.weight-normall {
  font-weight: 400;
}
.text-14 {
  font-size: 14px;
}
.short-text {
  width: fit-content;
  max-width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vesting-claim-card {
  border: 1px solid #2682ee99;
  border-radius: 5px;
  backdrop-filter: blur(30px);
  background-image: url("../images/dashboard/bg/lighting-shape-bg.png");
  background-size: cover;
  background-position: center center;
}
.claim-btn .gradient-btn {
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: #5a89ce 0px 0px 8px 0px, #144684 0px 0px 5px 0px;
}
.claim-btn p {
  font-size: 14px;
  color: #ffffff99;
}
.pointer {
  cursor: pointer;
}
.reload-button {
  border: 1px solid #ffffff33;
  background: #2682ee1a;
  border-radius: 22px;
  height: 48px;
  width: 60px;
  display: flex;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
}
.reload-button:hover {
  background: #5f87b48c;
}
.claim-info-item {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #ffffff0a;
}
.claim-info-value,
.claim-info-title {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.claim-info-title {
  font-weight: 400;
}
.default-hover.transparent-btn:hover {
  background: #0a1622;
}
/* start vesting step-2 */
.vesting-start-counter li:nth-child(even) {
  color: #e6e4e426;
  font-size: 40px;
}
.vesting-start-counter span {
  height: 70px;
  width: 81px;
  background-color: #ffffff26;
  border-radius: 10px;
  display: flex;
  color: #fff;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}
.vesting-start-counter {
  gap: 10px;
}
.gradient-btn {
  font-size: 16px;
}
.why-vesting-thumbnails {
  background: #ffffff05;
  backdrop-filter: blur(15px);
  border: 1px solid #0c1e37;
  padding: 10px;
  border-radius: 8px;
}
.why-vesting-list-item-active {
  background: rgba(255, 255, 255, 0.1);
}
.why-vesting-thumbnails {
  position: relative;
  padding: 10px;
  overflow: hidden;
  height: 100%;
}
.why-vesting-list-item {
  border: 1px solid #0b1b30;
}
.why-vesting-thumbnail {
  margin: 15px;
  position: absolute;
  top: 0;
  left: 0;
  height: 94%;
  width: 95%;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.8s ease, transform 0.8s ease;
  z-index: 0;
}
.why-vesting-thumbnail img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #1a362c;
}
.why-vesting-thumbnail.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.why-vesting-list-item .bg-border-input:after {
  opacity: 0;
}
.why-vesting-list-item.why-vesting-list-item-active .bg-border-input:after {
  opacity: 1;
}
.why-vesting-content p {
  font-size: 12px;
  color: #ffffffcc;
}
.why-vesting-content h5 {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.why-vesting-thumbnails {
  min-height: 420px;
}
.nowrap {
  white-space: nowrap;
}
.bg-border-input-before:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(39, 123, 245, 0.08) 0%,
    rgba(28, 214, 145, 0.08) 100.01%
  );
  backdrop-filter: blur(7.5px);
  border-radius: 8px;
  z-index: -1;
}
.bg-border-input-before.bg-border-input:after {
  background: linear-gradient(
    90deg,
    rgba(39, 123, 245, 0.4) 0%,
    rgba(28, 214, 145, 0.3) 100.01%
  );
}
.vesting-summary-info-list ul {
  list-style-type: disc;
  margin-left: 30px;
  margin-top: 12px;
}
.vesting-summary-info-list ul li {
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
}
/* end vesting step-2 */

@media all and (max-width: 767px) {
  .short-text {
    max-width: 35ch;
  }
  .vesting-start-counter span {
    width: 52px;
    height: 42px;
    font-size: 15px;
  }
  .vesting-start-counter {
    gap: 5px;
  }
}
@media all and (max-width: 767px) {
  .short-text {
    max-width: 25ch;
  }
}

.vesting-accordion .accordion-body p {
  font-size: 14px;
  line-height: 25px;
  color: #8b949e;
}
.vesting-accordion .accordion-button {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.accordion-button {
  color: #F5C448 !important;
}
.accordion-button.collapsed {
  color: #fff !important;
}
.accordion-button.collapsed:hover {
  color: #F5C448 !important;
}
